body {
    text-align: center;
    font-family: 'Carter One', cursive;
    width: 100%;
    margin: auto;
    background-image: url("../images/background/backgroundWebsite.gif");
    background-position: 2em;
}

section {
    position: relative;
    top: 1em;
    width: 60%;
    height: 52em;
    margin: auto;
    background-color: paleturquoise;
    border: 3px solid black;
}

#themes {
    background-color: yellow;
    border: 3px solid black;
    width: 35%;
    margin: auto;
    font-size: 1.8em;
}

#imagePendu {
    height: 15em;
    width: 25em;
    border: 4px solid black;
}

#mettreMot {
    position: relative;
    font-size: 2.5em;
    bottom: 1.7em;
}

span {
    text-decoration: underline;
    margin: 0.1em;
}

#timer {
    position: relative;
    font-size: 1.7em;
    color: green;
    bottom: 2em;
}

#imageTimer {
    position: relative;
    width: 5%;
    bottom: 2.5em;
}

p {
    position: relative;
    color: red;
    font-size: 1.7em;
    bottom: 2.8em;
}

#infos {
    color: blue;
    font-size: 1.5em;
    position: relative;
    bottom: 3.5em;
}

button {
    position: relative;
    font-size: 1.6em;
    margin-bottom: 2em;
    cursor: pointer;
    border: none;
    border: 3px solid black;
    bottom: 3.5em;
}

button:hover {
    background-color: orange;
}

#score, #restart {
    position: relative;
    bottom: 3.5em;
    border-radius: 1em;
    width: 18%;
    background-color: aqua;
}

#score:hover, #restart:hover {
    background-color: yellow;
}

#smileyBot {
    position: absolute;
    width: 15%;
    top: 8em;
    left: 6em;
}

#theme_informatique {
    position: absolute;
    width: 14%;
    left: 2.5%;
    border: 4px solid yellow;
    animation: MoveUpDown 3s linear infinite;
    animation-direction: alternate;
    transform: rotate(-15deg) scale(1);
}

#theme_music {
    position: absolute;
    width: 14%;
    left: 2.5%;
    height: 10em;
    border: 4px solid yellow;
    animation: MoveUpDownJeux 3s linear infinite;
    animation-direction: alternate;
    transform: rotate(-15deg) scale(1);
}

#theme_animaux {
    position: absolute;
    width: 14%;
    height: 10em;
    left: 2.5%;
    border: 4px solid yellow;
    animation: MoveUpDownAnimaux 3s linear infinite;
    animation-direction: alternate;
    transform: rotate(-15deg) scale(1);
}

#theme_sports {
    position: absolute;
    width: 14%;
    right: 2.5%;
    height: 10em;
    border: 4px solid yellow;
    animation: MoveUpDown 3s linear infinite;
    animation-direction: alternate;
    transform: rotate(15deg) scale(1);
}

#theme_jeux {
    position: absolute;
    width: 14%;
    right: 2.5%;
    border: 4px solid yellow;
    animation: MoveUpDownJeux 3s linear infinite;
    animation-direction: alternate;
    transform: rotate(15deg) scale(1);
}

#theme_films {
    position: absolute;
    width: 14%;
    right: 2.5%;
    height: 10em;
    border: 4px solid yellow;
    animation: MoveUpDownAnimaux 3s linear infinite;
    animation-direction: alternate;
    transform: rotate(15deg) scale(1);
}

@keyframes MoveUpDownJeux {
    from {
        top: 4em;
    }
    to { 
        top: 10em;
    }
}

@keyframes MoveUpDownAnimaux {
    from {
        top: 19em;
    }
    to { 
        top: 25em;
    }
}

@keyframes MoveUpDown {
    from {
        top: 35em;
    }
    to { 
        top: 40em;
    }
}